@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";

@theme {
  --font-sans:
    "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    sans-serif;
}

/* =========================
   Typography System
========================= */
@layer utilities {
  .typo-h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .typo-h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  .typo-h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  .typo-body {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .typo-body2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .typo-caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .typo-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  .typo-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}

/* =========================
   Color System
========================= */
@layer base {
  :root {
    /* Gray scale */
    --gray-0: #ffffff;
    --gray-100: #fbfbfd;
    --gray-200: #f0f0f7;
    --gray-300: #e4e4eb;
    --gray-400: #d0d0d6;
    --gray-500: #b3b3ba;
    --gray-600: #84848a;
    --gray-700: #6d6d73;
    --gray-800: #2f2f33;
    --gray-900: #1b1b1e;

    /* Primary */
    --primary-brown: #875c20;
    --primary-light-brown: #f5f1e5;
    --primary-orange: #fda529;
    --primary-yellow: #ffee6b;
    --complementary-yellow: #fdffdb;
  }

  html,
  body {
    background-color: var(--primary-light-brown);
    font-family: var(--font-sans);
  }
}

/* =========================
   Animation System
========================= */
@keyframes bounceLeft {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-6px);
  }
}

@keyframes bounceRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
}

@layer utilities {
  .animate-bounce-left {
    animation: bounceLeft 1s infinite ease-in-out;
  }
  .animate-bounce-right {
    animation: bounceRight 1s infinite ease-in-out;
  }
}
